.icons{
  text-align: center;
}
.icons a{
  text-decoration: none;
  margin-right: 20px;
}
.fa-solid.fa-house.fa-5x{
  color: hsl(0, 0%, 65%);
}
.fa-solid.fa-house.fa-5x:hover{
  color: hsl(0, 0%, 75%);
}
.fa-brands.fa-twitter.fa-5x{
  color: hsl(214, 100%, 57%);
}
.fa-brands.fa-twitter.fa-5x:hover{
  color: hsl(214, 100%, 67%);
}
.fa-brands.fa-youtube.fa-5x{
  color: hsl(0, 100%, 50%);
}
.fa-brands.fa-youtube.fa-5x:hover{
  color: hsl(0, 100%, 60%);
}
.fa-brands.fa-tiktok.fa-5x{
  color: hsl(0, 0%, 0%);
}
.fa-brands.fa-tiktok.fa-5x:hover{
  color: hsl(0, 0%, 20%);
}